<!DOCTYPE html>
<html>
  <head>
    <title>TechLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="turbo-visit-control" content="reload">
  </head>

  <body>

   <div class="body-second"> 
           <div id="navArea">
             <nav>
                <ul class="style-1">
                 <li><%= link_to "学習開始レポート", posts_path(Type1: '学習開始レポート') %></li>
                 <li><%= link_to "アウトプットレポート",  new_output_report_path %></li>
                 <li><%= link_to "タスクレポート", new_post_path %></li>
                 <li><%= link_to "振り返りレポート", new_post_path %></li>                
                 </ul>
             </nav>

         <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
        </div>

      <div id="mask"></div>
      </div>
    </div>

     <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo.png", class: :logo), root_path %> 
          </div>
          <% if user_signed_in? %>
            <div class="nav__right">
            <%= content_tag :span, "#{current_user.nickname}さん", class: "user-nickname" %>
              <%= link_to "マイページ", "/users/#{current_user.id}" %>
              <%= link_to "ログアウト", destroy_user_session_path, class: :nav__logout, data: {turbo_method: :delete} %>
              
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
      </header> 
      
      <%= yield %>

    <div class="footer-text">
        ©︎ alphatechcamper 2023
    </div>

     <script src="script.js"></script>
    
  </body>
</html>
